@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,300i,400,400i,500,600,700');

$font__body: 'IBM Plex Sans', sans-serif;
$font__regular: sans-serif;
$font__heading: 'IBM Plex Sans', sans-serif;
$font__code: Menlo, monaco, Consolas, Lucida Console, monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;

$font__size-base: 14px;
$font__size-ratio: 1.4;

$font__size-xxs:   1em / (1.5 * $font__size-ratio);
$font__size-xs:    1em / (1.25 * $font__size-ratio);
$font__size-sm:    1em / (1 * $font__size-ratio);
$font__size-md:    1em * (1 * $font__size-ratio);
$font__size-lg:    1em * (1.5 * $font__size-ratio);
$font__size-xl:    1em * (2 * $font__size-ratio);
$font__size-xxl:   1em * (2.5 * $font__size-ratio);
$font__size-xxxl:  1em * (3 * $font__size-ratio);

$font__line-height-body: 1.8;
$font__line-height-pre: 1.6;
$font__line-height-heading: 1.2;
$font__line-height-double:  2 * $font__line-height-heading;

// Responsive font style for texts
$main-font-sizes: (
	null: 16px
);

// Responsive font style for texts
$button-font-sizes: (
	null: (12px, 500, $textcolor, uppercase)
);

// Responsive font style for title
$titles-font-styles: (
	null: (
		1: (50px, 500),
		2: (32px, 500, $textcolor),
		3: (22px, 500, $textcolor),
		4: (16px, 500),
		5: (14px, 500),
		6: (12px, 500, $textcolor, uppercase),
	)
);

// Responsive font style for Wysiwyg titles
$titles-entry-font-styles: (
	null: (
		1: (32px, 500, $textcolor),
		2: (28px, 400, $textcolor),
		3: (20px, 500, $textcolor),
		4: (16px, 500, $textcolor),
		5: (16px, 500, $textcolor, italic),
		6: (14px, 500, $textcolor, normal, uppercase),
	)
);
